.mainContentContainer {
    height: 90%;
}


.entryContentContainer {
    border-bottom: 1px solid grey;
    
}

.entryImg {
    width: 100%;
    height: auto;
}

.entryDateText{
    color:blue;
    float:right;
    font-family: 'Playball', cursive;
    
}

.entryContentText {
    font-size: 16px;
}

.entryHeaderText {
    font-family: 'Tillana', cursive; 
}

.entryLocationText{ 
    font-family: 'Playball', cursive;
    font-size: 20px;
    color:blue;
}
