.mainContentContainer {
    height: 90%;
}


.entryContentContainer {
    border: 1px solid black;
}

.entryImg {
    width: 100%;
    height: 450px
}

.entryDateText{
    color:blue;
    float:right;
}

.entryContentText {
    font-size: 12px;
}