html, body {
  background-color: white;
  min-width: 800px;
  font-family: 'Manjari', sans-serif;
}

body{
  padding: 0;
  
}

.appContainer {
  padding-left: 15px;
  padding-right: 15px;
  height: 100vh;
  
}

.mySidebar{
  background-color:rgba(46,46,46,1);
  color: rgba(245, 245, 245, 0.9);
  height:100vh;
  
}

.sideBarHeader {
  background-color: rgba(0,21,125,1);
  color:white;
  box-sizing: border-box;
  height: 5%;
  padding:10px;
  font-family: 'Tillana', cursive; 
  font-weight: bold;
}

.mainContentContainer {
  height: 100vh;
}

.mainContentHeader {
  background-color:rgba(46,46,46,1); 
  color: rgba(245, 245, 245, 0.9);
  height: 9%;
  font-family: 'Italianno', cursive;
}

.mainHeaderText {
  font-size: 56px;
}